<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626707493663-o61d080tuubl8770k4nfcgovns7du3ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626707493663-o61d080tuubl8770k4nfcgovns7du3ea</string>
	<key>API_KEY</key>
	<string>AIzaSyBPJllRRvV38IrHBmQisHR5RkuEOBhlWng</string>
	<key>GCM_SENDER_ID</key>
	<string>626707493663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TheHunterCode.UpToDo</string>
	<key>PROJECT_ID</key>
	<string>uptodo-73d68</string>
	<key>STORAGE_BUCKET</key>
	<string>uptodo-73d68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626707493663:ios:2ee406537a443606abb62a</string>
</dict>
</plist>